{% if include.next_url != "" || include.prev_url != "" %}
<div class="post-nav">
  {% if include.next_url %}
    <i class="fa-solid fa-angles-right"></i>
    <a href="{{ include.next_url }}">{{ include.next_text }}</a><br />
  {% endif %}
  {% if include.prev_url %}
    <i class="fa-solid fa-angles-left"></i>
    <a href="{{ include.prev_url }}">{{ include.prev_text }}</a><br />
  {% endif %}
    <i class="fa-solid fa-paper-plane"></i>
    <a href="{{ "/all" | relative_url }}">All posts</a><br />
</div>
{% endif %}
