$fa-font-path: "../fonts";
$base-font-family: "Source Sans Pro", sans-serif;
$code-background-color: #131c21;
$code-span-color: #d1ffb4;
$rss-button-color: #ffbc6f;
$brand-color: #ddd;
$text-color: #ddd;
$heading-color: #eee;
$link-hover-color: #fff;
$post-title-color: #bcff79;
$post-tags-link-color: #9ecfec;
$blockquote-border-color: #3e5e83;
