@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

body { background: #00090d url(../img/light-sketch-65.png) 0 0; }

header.site-header {
    border-top: 0px;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid lighten($code-background-color, 10%);
    text-align: center;
    line-height: unset;

    .site-nav {
        float: unset;
        text-align: center;

        .trigger {
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    .site-title {
        float: unset;
        font-weight: bold;
        break-after: always;
        line-height: 54px;
        font-size: 240%;

        background-color: #ddd;
        background-image: linear-gradient(0deg, #999, #fff);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-fill-color: transparent;

        @include media-query($on-palm) {
            padding-right: unset;
        }

        &:hover { text-decoration: none; }

        &::after {
            display: block;
            content: "";
        }
    }
}

footer.site-footer {
    border-top: 0px;

    .social-media-list li {
        margin: unset;
        a {
            border: none;
            font-size: 125%;
        }
        a.rss {
            &:active, &:link, &:visited { color: $rss-button-color; }
            &:hover { color: $link-hover-color; }
        }
    }

    .footer-col {
        text-align: center;
        color: darken($brand-color, 40%);

        p {
            font-size: 90%;
            margin: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $heading-color;
}

blockquote {
    font-style: unset;
    font-size: 1.1rem;
    border-left-color: $blockquote-border-color;

    i, em { font-style: italic; }
}

code { color: $code-span-color; }
pre code { color: unset; }

.highlight pre {
    border-radius: 6px;
}

a.post-link {
    &, &:active, &:link, &:visited { color: $post-title-color; }
    &:hover { color: $link-hover-color; }
}
.post-link, .post-title {
    color: $post-title-color;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 5px;
    line-height: 1.15;
}
.post-list h3 {
    margin-bottom: unset;
}

header.post-header {
    margin-bottom: unset;
}

.post-meta {
    font-size: 0.9rem;

    time.dt-published {
        font-weight: bold;
    }
}

.post-tags
{
    @include media-query($on-palm) {
        &::before{
            display: table;
            content: "";
        }
    }

    a {
        &, &:active, &:link, &:visited { color: $post-tags-link-color; }
        &:hover { color: $link-hover-color; }
    }
}

.all-tags a {
    background-color: $code-background-color;
    border: 1px solid lighten($code-background-color, 10%);
    border-radius: 3px;
    padding: 5px 10px;
}

.post-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: .5rem;
        line-height: 1.25;
        text-rendering: optimizeLegibility;
    }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    h4, h5, h6 { font-size: 1rem; }
}

div.linked-post {
    > div {
        border: 3px double $blockquote-border-color; // darken($post-title-color, 60%);
        border-radius: 8px;
        padding: 10px 15px;
    }
    a.post-link { font-size: 70%; }
    h1.post-title { margin-top: initial; }
    p.post-meta { margin-bottom: initial; }
}

.post-nav {
    margin-top: 3rem;
    color: darken($brand-color, 20%);
}

.post-archive {
    date { float: right; }
}
